@page "/register/company"
@using InvBank.Models.auth
@inject NavigationManager navigationManager
@inject InvBank.Service.AuthenticationService authenticationService

<h1>Autentificação</h1>

<div class="row">
  <div class="col">
    <EditForm Model="@RegisterCompanyModel" OnSubmit="RegisterUser">
        <DataAnnotationsValidator/>

            @if (validationErrors.Any())
            {
                                <div class="alert alert-danger">
                                    <ul>
                        @foreach (var error in validationErrors)
                        {
                                                            <li>@error</li>
                        }
                                    </ul>
                                </div>
            }

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <InputText id=email @bind-Value=RegisterCompanyModel.Email class="form-control"></InputText>
            <ValidationMessage For="@(() => RegisterCompanyModel.Email)" />
        </div>     
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <InputText id=password @bind-Value=RegisterCompanyModel.Password class="form-control"></InputText>
        </div>     
        <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirmar Password:</label>
            <InputText id=confirmpassword @bind-Value=RegisterCompanyModel.ConfirmPassword class="form-control"></InputText>
        </div>     
        <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <InputText id=name @bind-Value=RegisterCompanyModel.Name class="form-control"></InputText>
        </div>     
        <div class="mb-3">
            <label for="nif" class="form-label">NIF:</label>
            <InputText id=nif @bind-Value=RegisterCompanyModel.Nif class="form-control"></InputText>
        </div>     
        <div class="mb-3">
            <label for="phone" class="form-label">Telefone:</label>
            <InputText id=phone @bind-Value=RegisterCompanyModel.Phone class="form-control"></InputText>
        </div>     
        <div class="mb-3">
            <label for="postalcode" class="form-label">Código Postal:</label>
            <InputText id=postalcode @bind-Value=RegisterCompanyModel.PostalCode class="form-control"></InputText>
        </div>    
        <button type="submit" class="btn btn-primary">Registar</button>    
    </EditForm>
  </div>
</div>

@code {

    private RegisterCompanyModel RegisterCompanyModel = new RegisterCompanyModel();
    private List<string> validationErrors = new List<string>();

    private async Task RegisterUser()
    {
        validationErrors.Clear();

        var validationResults = RegisterCompanyModel.Validate();
        if (validationResults.Any())
        {
            validationErrors.AddRange(validationResults.Select(result => result.ErrorMessage));
        }

        var result = await authenticationService.RegisterCompany(RegisterCompanyModel);

        if (!result.IsError)
        {
            navigationManager.NavigateTo("/login");
            return;
        }

        navigationManager.NavigateTo("/");

    }

}